<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#FCB130" />

	<title>Language Horse</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons&display=swap"
		rel="stylesheet">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

</head>

<body>
	
	<div class="splash-bg">
		<div class="app-header">
			<a href="#">
				<i class="material-icons">settings</i>
			</a>
			<a href="#">
				<i class="material-icons">help</i>
			</a>
		</div>
		<div class="app-content splash-content">
			<div class="app-content-container">
				<h2 class="app-title">Language Horse</h2>
				<div class="text-center">
						<img src="{{url_for('static', filename='images/app-img.jpeg')}}" class="app-img">
				</div>
				
				<a href="input.html" class="btn btn-primary btn-semi-block">Play</a>
			</div>
		</div>
	</div>



	<script src={{url_for('static', filename='lib/jquery/jquery-3.5.1.min.js')}}></script>

</body>

</html>