<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="theme-color" content="#FCB130" />
		
    <title>Language Horse</title>

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons&display=swap"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-24RX2JPELZ"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());
  		gtag('config', 'G-24RX2JPELZ');
	</script>
	
    <script src="{{url_for('static', filename='lib/jquery/jquery-3.5.1.min.js')}}"> </script>
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css"
      rel="stylesheet"
    />

    
  </head>

  <body>
    <div class="app-header">
      <a style="visibility: hidden;" href="#">
        <i class="material-icons">settings</i>
      </a>
      <a id="question-mark" href="#">
        <i class="material-icons">help</i>
      </a>
    </div>
   
      <div class="app-content-container">

					<div id="carousel" style="opacity: 0;">
							
							<div>
									<h3 class="page-title text-center">Select Languages</h3>

									<div class="mg-b-10">
										<label class="form-label">Translate from</label>
										<select id="ddl_lang_from">
											<option></option>
											{% for lang in langs %}
        										<option label="{{ lang[1]}}"> {{ lang[0] }} </option>
    										{% endfor %}
										</select>
									</div>
					
									<div class="mg-b-40">
										<label class="form-label">Translate to</label>
										<select id="ddl_lang_to">
											<option></option>
											{% for lang in langs %}
        										<option label="{{ lang[1]}}"> {{ lang[0] }} </option>
    										{% endfor %}
										</select>
									</div>
									<div class="text-center">
										<button id="translate_next" class="btn btn-primary btn-semi-block">Next</button>
									</div>
							</div>
							
							<div>
									<h3 class="page-title text-center">Enter Text</h3>
									<div class="language-selection">
										<div class="language-col">
											<label class="form-label">Translate from</label>
											<span id='translate-from-label' class="badge-language translate-from-label">English</span>
										</div>
										<div class="language-col">
												<label class="form-label">Translate to</label>
												<span id="translate-to-label" class="badge-language translate-to-label">German</span>
										</div>
									</div>
									<div class="text-input-container">
										<textarea id="L1-input-text-box" placeholder="Type here world.." class="text-input" rows="3"></textarea>
									</div>
									
									<div class="text-center">
											<button id="translate-button" class="btn btn-primary btn-semi-block">Translate</button>
										</div>
							</div>
							
							<div>
									<h3 class="page-title text-center">Listen & Record</h3>
									
									<div class="language-selection">
											<div class="language-col">
												<label class="form-label">Translated from</label>
												<span class="badge-language translate-from-label">English</span>
												<div class="text-input-container narrow-right">
														<textarea id="L1-target-word" placeholder="Type here.." class="text-input" rows="3"></textarea>
													</div>
											</div>
											<div class="language-col">
													<label class="form-label">Translated to</label>
													<span class="badge-language translate-to-label">German</span>
													<div class="text-input-container">
														<textarea id="L2-target-word" placeholder="Type here.." class="text-input" rows="3"></textarea>
													</div>
											</div>
										</div>
										
										<div class="mg-b-20">
											<canvas id="audio-bar-canvas" class="visualizer" height="60px" fill="#fff" style="width: 100%; border-radius: 10px; visibility: hidden;"></canvas>
										</div>

										<div class="audio-controls mg-b-40">
												

												<div class="audio-control-col">
													<button id="record-button" class="btn btn-circle btn-red">
														<i class="material-icons">mic</i>
													</button>
													<div id="record-button-text" class="text-black">
															Record
													</div>
												</div>

												<div class="audio-control-col">
													<button id="reset-inputs"class="btn btn-default btn-circle">
														<i class="material-icons">replay</i>
													</button>
													<div class="text-light">
														Reset
													</div>
												</div>
												
												<div class="audio-control-col">
													<button id="hear-pronunciation-button" class="btn btn-circle btn-default">
															<i class="material-icons">volume_up</i>
													</button>
													<div class="text-black">
														Hear Word
													</div>
												</div>
												
										</div>

										<div class="text-center">
											<a id="submit-button" class="btn btn-primary btn-semi-block">Submit</a>
										</div>

										
							</div>

							<div>

							<div class="output-content">
										
								<div class="output-header">
        						  
        						  <div class="text-center mg-b-20">
        						    <div class="output-circle output-circle-red">
        						      <i class="material-icons">close</i>
        						    </div>
        						  </div>
        						  
        						  <div class="mg-b-20">
													<div class="form-label">Google heard:</div>
												<div style="display: flex;">
													<textarea id="google-heard" class="text-input" rows="2"></textarea>
        							 	 	<button id="loose-screen-google-heard-audio" class="btn btn-outline-primary btn-text-play mg-l-15">
															<i class="material-icons">volume_up</i>
															<!-- <i class="material-icons">play_arrow</i> -->
														</button>
        						    </div>
        						  </div>



        						  <div>

        						  	<div class="mg-b-40">
												<div class="form-label">You meant to say:</div>
												<div style="display: flex;">
													<textarea id="you-meant-to-say" class="text-input" rows="2">In progress</textarea>
													<button id="lose-screen-target-word-audio" class="btn btn-outline-primary btn-text-play mg-l-15">
															<i class="material-icons">volume_up</i>
															<!-- <i class="material-icons">play_arrow</i> -->
														</button>
												</div>
        						  </div>

        						  <div class="mg-b-40">
									<div class="form-label"></div>
									<div style="display: flex;">
									<textarea class="text-input" rows="2">Listen to your audio -></textarea>
									<button id="lose-screen-user-audio" class="btn btn-outline-primary btn-text-play mg-l-15">
									<i class="material-icons">volume_up</i>
									<!-- <i class="material-icons">play_arrow</i> -->
									</button>
									</div>
        						  </div>
        						  
        						  	
								</div>
										
									<div class="text-center mg-b-30">
        						  		<a href="{{url_for('home')}}" class="btn btn-primary mg-r-15">Start Over</a>
        						  		<a id="try-again-button" class="btn btn-primary mg-l-15">Try Again</a>
									</div>
									<center>
									<a href="
https://docs.google.com/forms/d/e/1FAIpQLSdsffxuVLedxKP0IXWLkZNdbZ-HcDP3WX3VZWCeHvKJ6cYz1g/viewform?usp=sf_link" class="btn btn-warning">Leave Feedback!</a>
</center>
							</div>
						
							</div>
						
				</div>

				<div>

		<div class="app-content output-content">
    			
    		<div class="app-content-container text-center">

				<div class="output-header">
					<div class="output-circle output-circle-green">
						<i class="material-icons">done</i>
          			</div>
          			<div>
            			<div class="output-badge output-badge-green">Correct!</div>
          			</div>
				</div>
				
        	<div class="text-center mg-b-30">
        	

        		<div class="mg-b-20">
					<div id="correct-screen-target-language" class="form-label"></div>
					<div style="display: flex;">
					<textarea id="correct-screen-target-word" class="text-input" rows="2"></textarea>
        			<button id="win-screen-google-heard-audio" class="btn btn-outline-primary 	btn-text-play mg-l-15">
					<i class="material-icons">volume_up</i>
					<!-- <i class="material-icons">play_arrow</i> -->
					</button>
        			</div>
        		</div>

				<div>

        		<div class="mg-b-40">
					<div class="form-label"></div>
					<div style="display: flex;">
					<textarea id="correct-screen-target-word-your-recording" class="text-input" rows="2">In progress</textarea>
					<button id="win-screen-target-word-audio" class="btn btn-outline-primary btn-text-play mg-l-15">
					<i class="material-icons">volume_up</i>
					<!-- <i class="material-icons">play_arrow</i> -->
					</button>
					</div>
        		</div>
	
        		<a href="{{url_for('home')}}" class="btn btn-primary mg-r-15">Play Again</a>
        		<a href="https://docs.google.com/forms/d/e/1FAIpQLSdsffxuVLedxKP0IXWLkZNdbZ-HcDP3WX3VZWCeHvKJ6cYz1g/viewform?usp=sf_link" class="btn btn-warning mg-l-15">Feedback!</a>

        	</div>

			</div>
		
		</div>

				</div>
				
       
      </div>
    </div>

		<script type="text/javascript module" src="{{ url_for('static', filename='node_modules/audio-recorder-polyfill/index.js')}}"></script>

		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

		<link rel="stylesheet" href="{{url_for('static', filename='lib/slick/slick.css')}}" />
		
		<link rel="stylesheet" href="{{url_for('static', filename='lib/slick/slick-theme.css')}}" />
		
		<link rel="stylesheet" href="{{url_for('static', filename='css/slick.custom.css')}}" />
		
		<script src="{{url_for('static', filename='lib/slick/slick.min.js')}}"></script>

		<script type="module" src="{{url_for('static', filename='js/app.js')}}" data-target-word="{{L2TargetWord}}" data-translate-to-code="{{translate_to_code}}"></script>
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/select2.custom.css')}}" />
    
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
  
  </body>

</html>