<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#FCB130" />

    <title>Language Horse</title>

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons&display=swap"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />
  </head>

  <body>
    <div class="app-header">
      <a href="#">
        <i class="material-icons">settings</i>
      </a>
      <a href="#">
        <i class="material-icons">help</i>
      </a>
    </div>

    <div class="app-content-container">
			<div class="app-content output-content">
				<div class="output-header">
          <div class="text-center mg-b-20">
            <div class="output-circle output-circle-red">
              <i class="material-icons">close</i>
            </div>
          </div>
          <div class="mg-b-20">
            <div class="form-label">Your mean to say:</div>
            <textarea class="text-input" rows="2">{{incorrectInfo['target_L2_word']}}</textarea>
          </div>
          <div class="mg-b-40">
              <div class="form-label">Google heard:</div>
              <textarea class="text-input" rows="2">{{incorrectInfo['googleHeard']}}</textarea>
            </div>
				</div>
				<div class="text-center mg-b-30">
          <a href="{{url_for('home')}}" class="btn btn-primary mg-r-15">Start Over</a>
          <a href="{{url_for('home')}}" class="btn btn-primary mg-l-15">Try Again</a>
				</div>
			</div>
		</div>


  </body>
</html>
