<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#FCB130" />

    <title>Language Horse</title>

    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons&display=swap"
      rel="stylesheet"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />
  </head>

  <body class="app-fullscreen">
    <div class="app-header">
      <a href="#">
        <i class="material-icons">settings</i>
      </a>
      <a href="#">
        <i class="material-icons">help</i>
      </a>
    </div>
    <div class="app-content output-content">
    <div class="app-content-container text-center">
			
				<div class="output-header">
					<div class="output-circle output-circle-green">
						<i class="material-icons">done</i>
          </div>
          <div>
            <div class="output-badge output-badge-green">Correct!</div>
          </div>
				</div>
				
        <div class="text-center mg-b-30">
        <a href="{{url_for('home')}}" class="btn btn-primary mg-r-15">Try Again</a>
        <a href="
https://docs.google.com/forms/d/e/1FAIpQLSdsffxuVLedxKP0IXWLkZNdbZ-HcDP3WX3VZWCeHvKJ6cYz1g/viewform?usp=sf_link" class="btn btn-warning mg-l-15">Feedback!</a>

        </div>

			</div>
		</div>

  </body>
</html>
