<h1> Test </h1>

<button id="record-button"> Record </button>

<button id="stop-record-button"> Stop record </button>

<script src="{{url_for('static', filename='lib/jquery/jquery-3.5.1.min.js')}}"> </script>

<!-- Record RTC Library CDN -->
    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>

<script>

// Use JQUERY to bind click events to the functions below
$( "#record-button" ).click(function() {
  startRecord();
})

$( "#stop-record-button" ).click(function() {
  stopRecord();
})

let stream = navigator.mediaDevices.getUserMedia({audio: true});
let recorder = new RecordRTCPromisesHandler(stream, {
    type: 'audio'
});
    

var startRecord = () => {

  recorder.startRecording();

}

var stopRecord = () => {

    console.log("function called")

  recorder.stopRecording(function() {
        let blob = recorder.getBlob();
        invokeSaveAsDialog(blob);
    });

  console.log("Here is the blob: ")
  console.log(blob);

}






</script>